body {
	margin: 0;
}

.kitten {
	display: grid;
	grid-template-rows: 100vh;
	grid-template-columns: 1fr;
	background-image: url('img/kitten-medium.png'), url('img/sunny-day.jpg');
	background-repeat: no-repeat, no-repeat;
	background-position: center bottom, center;
	background-size: auto, cover;
}

@media screen and (max-width: 900px) {
	.kitten {
		background-image: url('img/kitten-large.png'), url('img/dawn.png');
	}
}

@media screen and (max-width: 600px) {
	.kitten {
		background-image: url('img/kitten-small.png'), url('img/night.jpg');
	}
}